#tab {
  display: block;
  position: fixed;
  top: 80px;
  left: 0;
  margin: 0px;
  z-index: 10;

  width: 100%;
  margin: 0px;
  border-right: 1px rgba(150, 150, 150, 0.5) solid;
  background-color: rgba(50, 50, 50, 0.9);

  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.selectionBox {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: bolder;
  color: white;
  margin: 5px;
}

#selectedCoins {
  position: absolute;
  top: 18px;
  left: 40px;
  width: 150px;
  display: block;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
  z-index: 50;
}

#selectedCoins > img {
  margin-left: 5px;
}

#selectedDate {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 50;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

#selectedCoins:hover,
#selectedDate:hover {
  cursor: pointer;
}
/* select {
  width: 100%;
  height: 200px;
  font-family: "Roboto", sans-serif;
} */

#multiselect {
  width: 100%;
  display: flex;
  justify-content: center;
}

#selectBox {
  position: relative;
}

#selectBox select {
  width: 100%;
  font-weight: bold;
}

#overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#checkboxes label {
  display: flex;
  padding: 5px;
  width: 150px;

  border: 1px #dadada solid;
  border-radius: 5px;
  margin: 2px;
}

#checkboxes img {
  height: 50px;
}

#checkboxes label p,
h4 {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#labelText {
  width: 100%;
}

#labelText h4 {
  font-size: 15px;
}

#labelText p {
  font-size: 12px;
}

#checkboxes label:hover {
  background-color: #6fb7ff;
  color: whitesmoke;
  cursor: pointer;
  transition-duration: 500ms;
}

button {
  font-family: "Roboto", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

#tabShowBtn {
  position: fixed;
  font-size: 25px;

  color: #dadada;
  margin: 10px;
  margin-top: 25px;
  width: 10px;
}

#tabShowBtn:hover {
  cursor: pointer;
}
#dateselect {
  display: flex;
  width: 100%;
}

#years,
#months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.date {
  width: 80px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px #dadada solid;
  border-radius: 5px;
  margin: 5px;
}

.date > span {
  display: inline-block;
  vertical-align: middle;
}

.date:hover {
  background-color: #6fb7ff;
  cursor: pointer;
  transition-duration: 500ms;
  color: whitesmoke;
  font-weight: bolder;
}

.select {
  background-color: #43a1ff;
  color: whitesmoke;
  font-weight: bolder;
}

.disabled {
  color: rgb(190, 190, 190);
  pointer-events: none;
}

.disabled > img {
  opacity: 50%;
}
