@font-face {
    font-family: "Rockwell";
    src: url("src/Rockwell-Font/rockb.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html,
body {
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

header {
    font-family: "Rockwell";
    height: 80px;
    width: 100%;
    background-color: rgb(68, 68, 68);
    box-shadow: 1px 1px 3px 3px rgb(46, 46, 46);
    position: fixed;
    top: 0px;
}

header>h1 {
    margin: 0px;
    padding-top: 10px;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px gray;
}

#main {
    margin-top: 100px;
    margin-left: 22%;
    width: 76%;
    padding: 20px;
    z-index: 10;
    overflow-y: scroll;
    overflow: hidden;
}

#content {
    min-height: 500px;
    background-color: lightcoral;
}

#price-news {
    margin-top: 20px;
    min-height: 500px;
    background-color: yellow;
}

#comparison {
    margin-top: 20px;
    min-height: 500px;
    background-color: lightblue;
}