@font-face {
  font-family: "Rockwell";
  src: url("src\Rockwell-Font\rockb.ttf");
}

html,
body {
  margin: 0;
  font-family: "Rockwell";
  height: 100%;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgb(68, 68, 68);
}

header > h1 {
  margin: 0px;
  padding-top: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 45px;

  text-shadow: 2px 2px gray;
}

.tab {
  position: fixed;
  height: 100%;
  background-color: lightgray;
  width: 200px;
}
